*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
h1{
    color:#fff;
    font-size: 32px;
    text-align: center;
}
.img
{
    display: flex;
    height: 30%;
    width: 30%;
    position: absolute;
    margin-left: 35%;
}

.main-container{
position: absolute;
width: 80vw;
transform: translate(-50%,-50%);
top: 50%;
left: 50%;
display: flex;
justify-content: space-around;
gap: 10px;
margin-top: 100px;
}

.container{
    width: 28vmin;
    height: 28vmin;
    border: 1px solid aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 30px;
    transition: 0.3s all ease;
    background: rgba(89, 131, 83, 0.09);
    backdrop-filter: blur( 3px );
}
.container:hover{
    transform: translateY(-10px);
}
i{
    color: aqua;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}
.container:hover i{
color: #f92a8b;
}
span.number{
    color: #f97408;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
}
span.text{
    color: #e0e0e0;
    font-size: 16px;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
}

@media screen and (max-width: 1024px){
    .main-container{
        width: 85vw;
    }
    .container{
        height: 26vmin;
        width: 26vmin;
        font-size: 12px;
    }
}

@media screen and (max-width: 768px){
.main-container{
    width: 90vw;
    flex-wrap: wrap;
    gap:30px ;
}
.container{
    width: calc(50% - 40px);
    height: 30vmin;
    font-size: 14px;
}
}
@media screen and (max-width: 480px){
.main-container{
    gap: 15px;
}
.container{
    width: 100%;
    height: 25vm;
    font-size: 8px;
}
}
.area {
    background: #050505;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 100vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation:  animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}




.credit{
    color: aliceblue;
    text-align: center;
    font-size: 18px;
}

h1{
color: aliceblue;
font-size: 36px;
}
.copyright{
    position: absolute;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
margin-top: 300px;
}

